<form class="formwidth" (ngSubmit)="onSubmit()" #register="ngForm">
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <md-input-container class="fullwidth">
          <input mdInput placeholder="First Name" id="firstName" [(ngModel)]="address.firstName" name="firstName">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="fullwidth">
          <input mdInput placeholder="Last Name" id="lastName" [(ngModel)]="address.lastName" name="lastName">
        </md-input-container>
      </td>
    </tr>
  </table>
  <p>
    <md-input-container class="fullwidth">
      <textarea mdInput placeholder="Address" id="address" [(ngModel)]="address.address" name="address"></textarea>
    </md-input-container>
  </p>
  <table class="formwidth" cellspacing="0">
    <tr>
      <td>
        <md-input-container class="fullwidth">
          <input mdInput placeholder="City" id="city" [(ngModel)]="address.city" name="city">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="fullwidth">
          <input mdInput placeholder="state" id="state" [(ngModel)]="address.state" name="state">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="fullwidth">
          <input mdInput maxlength="5" #postalCode placeholder="Postal Code" id="postalCode" [(ngModel)]="address.postalCode" name="postalCode">
          <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
        </md-input-container>
      </td>
    </tr>
  </table>
  <p>
    <button type="submit" md-raised-button>Submit</button>
  </p>
</form>
